@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b998b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: #ff9b71;
  border-style: solid;
  border-width: 1px;
  border-color: #fffd82;
  padding: 3px;
}
input::placeholder {
  color: #2d3047;
}

p {
  color: #2d3047;
}
button {
  background-color: #fffd82;
}

.dialog-background {
  background-color: #fffd82;
}
